<div class="container">
	<div class="offset4"><img src="/assets/parabola-logo.png" class="img-polaroid"></div>
	<div class="offset4"><h3>Parabola Blog Portal</h3></div>
</br></br></br></br>
	
	<%= form_tag :action => 'signin' do %>
		<div class="row">
			<div class="span2 offset4"><%= label_tag 'User Name' %></div>
			<%= text_field_tag 'User_Name' %>
		</div>
		<div class="row">
			<div class="span2 offset4"><%= label_tag 'Password' %></div>
			<%= password_field_tag 'Password' %>
		</div>
		<div class="span3 offset6"><p>New User? <%= link_to "Click Here", signup_path %></p></div>
		
		<div class="row">
			<div class="span3 offset6"><%= submit_tag 'Signin' %></div>
		</div>
	<% end %>
</div>