<div class="row">
	<a style="margin-left:31px;" class="span2 btn btn-primary" id="create_new" href="javascript:void();">Add Gallery</a>
</div></br>
<%= form_tag :action => 'add_gallery' do  %>
<div class="row" style="margin-left:-7px;">
	<% @gallery.each do |g| %>
		<div class="span2">
			<% if !g.images.blank? && g.images.count >=1 %>
			<img src="<%= g.images.first.image_url.to_s %>" class="img-polaroid thumbnail"> &nbsp;
			<% end %>
			<% if g.images.blank? || g.images.count == 0 %>
			<img src="/assets/no_image.png" class="img-polaroid thumbnail">
			<% end %>
			</br>
			<p class="text-center"><%= link_to(g.name, gallery_path(g)) %></p>
		</div>
	<% end %>
</div>
	<div class="row">
		<div id="gallery_new" class="row" style="display:none;">
			<div class="row">
				<div class="span2 offset1"><%= label_tag 'Title' %></div>
				<%= text_field_tag :name %>
			</div>
			<div class="row">
				<div class="span2 offset1"><%= label_tag 'Description' %></div>
				<%= text_area_tag :description %>
			</div>
			<div class="row span2 offset1">
				<%= submit_tag 'Submit' %>
				<input id="cancel_gallery" type="button" value="Cancel" onclick="hideGallery();" />
			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$("#create_new").click(function()
	{
		$("#create_new").hide();
		$("#gallery_new").show();
	});

	function hideGallery()
	{
		$("#create_new").show();
		$("#gallery_new").hide();
	}

	$(document).ready(function()
	{
		$('.breadcrumb #bc_mygallery').show();
	});
</script>