<%= form_tag  do  %>
<div class="row">
	<img class="span2 offset2 img-polaroid" src="/assets/gallery.png">
	<img class="span2 img-polaroid" src="/assets/events.png" >
	<img class="span2 img-polaroid" src="/assets/email.jpg" >
	<img class="span2 img-polaroid" src="/assets/messages.png" >
	<img class="span2 img-polaroid" src="/assets/sports.jpg" >
</div>
<div class="row">
	<p class="span2 offset2 text-center"><%= link_to "My Gallery", "/content/gallery" %></p>
	<p class="span2 text-center"><%= link_to "Events", "/content/events" %></p>
	<p class="span2 text-center"><%= link_to "Email", "/content/email" %></p>
	<p class="span2 text-center"><%= link_to "My Messages", "/content/messages" %></p>
	<p class="span2 text-center"><%= link_to "Sports", "/content/sports" %></p>
</div>
<% end %>


<script type="text/javascript">
	 $(document).ready(function () {  
        $('.dropdown-toggle').dropdown();  
	});
</script>