<div class="container">
	<div class="offset4"><img src="/assets/parabola-logo.png" class="img-polaroid"></div>
	<div class="offset4"><h4>Registration for Parabola Social Network</h4></div>
	<%= form_tag :action => 'signup' do %>
		<div class="row">
			<div class="span3 offset3"><%= label_tag 'First Name' %></div>
			<%= text_field_tag :firstname %>
		</div>
		<div class="row">
			<div class="span3 offset3"><%= label_tag 'Last Name' %></div>
			<%= text_field_tag :lastname %>
		</div>
		<div class="row">
			<div class="span3 offset3"><%= label_tag 'User Name' %></div>
			<%= text_field_tag :username %>
		</div>
		<div class="row">
			<div class="span3 offset3"><%= label_tag 'Email' %></div>
			<%= text_field_tag :email %>
		</div>
		<div class="row">
			<div class="span3 offset3"><%= label_tag 'Password' %></div>
			<%= password_field_tag :password %>
		</div>
		<div class="row">
			<div class="span3 offset3"><%= label_tag 'Confirmation Password' %></div>
			<%= password_field_tag 'Confirmation_Password' %>
		</div>

		<div class="row">
			<div class="span3 offset6"><%= submit_tag 'Submit' %><%= link_to 'Cancel', login_path %></div>
		</div>
		<p id="notice"><%= notice %></p>
	<% end %>
</div>